# Default ignored files
/../../OOP_task1 /.idea/shelf/
/../../OOP_task1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../OOP_task1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../OOP_task1 /.idea/dataSources/
/../../OOP_task1 /.idea/dataSources.local.xml
